@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ashburton Church of Christ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/0ae0cda1c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/media/images/cross2.png" />
</head>
<body>
    <header>
        <!--Announcement banner-->
        <div id="meetingAnnouncementBanner" class="row bg-dark text-light w-100 d-none">
            <div class="col-9">
                <h5>
                    <i class="far fa-calendar"></i>&nbsp;October 17th-22nd&nbsp;
                    <i class="fas fa-male"></i>&nbsp;John Gibson&nbsp;
                    <i class="fas fa-bible"></i><i>&nbsp;Living as Lights in a Dark World&nbsp;</i>
                    <a class="btn btn-secondary ml-2" asp-action="DownloadMeetingFlyer" asp-controller="Home">Learn More</a>
                    <a class="btn btn-primary" href="https://www.facebook.com/events/183124170562352" target="_blank">RSVP</a>
                </h5>                
            </div>
            <div class="col-3 text-end">
                <button id="meetingAnnouncementClose" type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            </div>            
        </div>

        <!--Navbar-->
        <nav class="navbar navbar-expand-xl sticky-top navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/media/images/logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarResponsive">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Media" asp-action="Index">Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Articles" asp-action="Index">Articles</a>
                        </li>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireMemberRole")).Succeeded)
                        {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Members" asp-action="Index">Members</a>
                        </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdminRole")).Succeeded)
                        {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <!--Main Content-->
    <div class="container py-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--Footer-->
    <footer id="pageFooter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <hr class="light" />
                    <h5>Contact Us</h5>
                    <hr class="light" />
                    <a href="https://www.facebook.com/AshburtonDriveChurchofChrist" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UCFQiCUdMrSStmCKg6dou_uw" target="_blank"><i class="fab fa-youtube"></i></a>
                    <p><i class="fas fa-phone"></i> 813-363-4092</p>
                    <div class="row">
                        <p><i class="fas fa-envelope"></i> ashburtoncoc@outlook.com</p>
                    </div>
                    <p><i class="fas fa-map-marker-alt"></i> 70 Ashburton Drive Montgomery, AL 36117</p>
                </div>
                <div class="col-md-4">
                    <hr class="light" />
                    <h5>Our Meeting Times</h5>
                    <hr class="light" />
                    <p>Sunday AM: 9am - 11am</p>
                    <p>Sunday PM: 5pm - 6pm</p>
                    <p>Wednesday: 7pm - 8pm</p>
                </div>
                <div class="col-md-4">
                    <hr class="light" />
                    <h5>Colossians 3:17</h5>
                    <hr class="light" />
                    <blockquote>
                        Whatever you do in word or deed, do everything in the name of the Lord Jesus, giving thanks through Him to God the Father.
                    </blockquote>
                </div>
                <div class="col-12">
                    <hr class="light-100" />
                    <h5>&copy; 2021 - Ashburton Church of Christ</h5>
                </div>
            </div>
        </div>
    </footer>

    <!--Scripts-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        const $dropdown = $(".dropdown");
        const $dropdownToggle = $(".dropdown-toggle");
        const $dropdownMenu = $(".dropdown-menu");
        const showClass = "show";

        if (sessionStorage.getItem("bannerShown") != null) {
            $(document).ready(function () {
                $('#meetingAnnouncementBanner').hide();
            });
        }

        $("#meetingAnnouncementClose").click(function () {
            $("#meetingAnnouncementBanner").hide();
            sessionStorage.setItem("bannerShown", "true");
        });

        $(window).on("load resize", function () {
            if (this.matchMedia("(min-width: 768px)").matches) {
                $dropdown.hover(
                    function () {
                        const $this = $(this);
                        $this.addClass(showClass);
                        $this.find($dropdownToggle).attr("aria-expanded", "true");
                        $this.find($dropdownMenu).addClass(showClass);
                    },
                    function () {
                        const $this = $(this);
                        $this.removeClass(showClass);
                        $this.find($dropdownToggle).attr("aria-expanded", "false");
                        $this.find($dropdownMenu).removeClass(showClass);
                    }
                );
            } else {
                $dropdown.off("mouseenter mouseleave");
            }
        });
    </script>
</body>
</html>
