
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3369.3267979985235!2d-86.19174708444619!3d32.383600411246974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888c2be40992f6ad%3A0xe395b5d5ab844e39!2s70%20Ashburton%20Dr%2C%20Montgomery%2C%20AL%2036117!5e0!3m2!1sen!2sus!4v1619450332797!5m2!1sen!2sus" 
        width="600" height="450" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>