@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="slides" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner align-items-center">
        <div class="carousel-item active">
            <img src="~/media/images/lake.jpg" class="d-block" alt="...">
            <div class="carousel-caption">
                <h1>Baptism</h1>
                <h3>What it will and won't do</h3>
                <a class="btn btn-primary btn-lg" href="https://ashburtonchurch.com/Articles/Read/4">Read</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/media/images/storm.jpg" class="d-block" alt="...">
            <div class="carousel-caption">
                <h1>Who Can Know His Power?</h1>
                <h3>The awesome power of God</h3>
                <a class="btn btn-primary btn-lg" href="https://ashburtonchurch.com/Media/Watch/27">Watch</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/media/images/boaz.jpg" class="d-block" alt="...">
            <div class="carousel-caption">
                <h1>Boaz: A Worthy Man</h1>
                <h3>Learning from Boaz's example in the book of Ruth</h3>
                <a class="btn btn-primary btn-lg" href="https://ashburtonchurch.com/Media/Watch/13">Watch</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/media/images/PaulPreachingRaphael.jpg" class="d-block" alt="...">
            <div class="carousel-caption">
                <h1>Paul And the "Agnostics"</h1>
                <h3>Learning from Paul's sermon to the Athenians</h3>
                <a class="btn btn-primary btn-lg" href="https://ashburtonchurch.com/Media/Watch/9">Watch</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/media/images/paulsmissionaryjourneys.png" class="d-block" alt="...">
            <div class="carousel-caption">
                <h1>Paul's First Missionary Journey</h1>
                <h3>A study of Acts 13</h3>
                <a class="btn btn-primary btn-lg" href="https://ashburtonchurch.com/Media/Watch/14">Watch</a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slides" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slides" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-fluid">
    <div class="row bg-light my-3">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">
                Welcome to the Ashburton Drive Church of Christ. We are a group of Christians that meets in Montgomery, AL and strives to follow God's plan for His church.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a class="btn btn-primary" asp-controller="Home" asp-action="About">Learn More</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScQT8pAYNVO5vzPS_713Zli4ET8f3EANzWUBsgPyJzKOFxdyw/viewform?embedded=true" class="d-block w-100" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
