@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="meetingAnnouncement" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="text-align:center">
            <div class="modal-header">
                <h5 class="modal-title">A Special Invitation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" style="text-align:center">
                <div class="card mb-3" style="width: 100%; height: 100%;">
                    <img class="card-img-top" src="~/media/images/meeting.jpg" alt="Card image cap" />                    
                    <ul class="list-group list-group-flush" style="text-align:left">
                        <li class="list-group-item"><b>Sunday 9AM:</b> Seeing Light in Times of Loneliness</li>
                        <li class="list-group-item"><b>Sunday 10AM:</b> Being A Light Can Be Demanding</li>
                        <li class="list-group-item"><b>Sunday 5PM:</b> The Foundation and Function of Faith for Our Light</li>
                        <li class="list-group-item"><b>Monday 7PM:</b> God's Lights Are Motivated by the Cross</li>
                        <li class="list-group-item"><b>Tuesday 7PM:</b> How Can the Lights of the World Be so "Narrow-minded?"</li>
                        <li class="list-group-item"><b>Wednesday 7PM:</b> The Lights of the World Must Avoid Lust, Lewdness, and Lawmaking</li>
                        <li class="list-group-item"><b>Thursday 7PM:</b> The True Light Teaches Us How to Pray</li>
                        <li class="list-group-item"><b>Friday 7PM:</b> Finding Light and Thankfulness in Times of Darkness</li>
                    </ul>
                    <div class="card-body">
                        <a class="btn btn-secondary" asp-action="DownloadMeetingFlyer" asp-controller="Home">Learn More</a>
                        <a class="btn btn-primary" href="https://www.facebook.com/events/183124170562352">RSVP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal hide fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="slides" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner align-items-center">
        <div class="carousel-item active">
            <img src="~/media/images/lake.jpg" class="d-block" alt="...">
            <div class="carousel-caption">
                <h1>Baptism</h1>
                <h3>What it will and won't do</h3>
                <a class="btn btn-primary btn-lg" href="https://ashburtonchurch.com/Articles/Read/4">Read</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/media/images/storm.jpg" class="d-block" alt="...">
            <div class="carousel-caption">
                <h1>Who Can Know His Power?</h1>
                <h3>The awesome power of God</h3>
                <a class="btn btn-primary btn-lg" href="https://ashburtonchurch.com/Media/Watch/27">Watch</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/media/images/boaz.jpg" class="d-block" alt="...">
            <div class="carousel-caption">
                <h1>Boaz: A Worthy Man</h1>
                <h3>Learning from Boaz's example in the book of Ruth</h3>
                <a class="btn btn-primary btn-lg" href="https://ashburtonchurch.com/Media/Watch/13">Watch</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/media/images/PaulPreachingRaphael.jpg" class="d-block" alt="...">
            <div class="carousel-caption">
                <h1>Paul And the "Agnostics"</h1>
                <h3>Learning from Paul's sermon to the Athenians</h3>
                <a class="btn btn-primary btn-lg" href="https://ashburtonchurch.com/Media/Watch/9">Watch</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/media/images/paulsmissionaryjourneys.png" class="d-block" alt="...">
            <div class="carousel-caption">
                <h1>Paul's First Missionary Journey</h1>
                <h3>A study of Acts 13</h3>
                <a class="btn btn-primary btn-lg" href="https://ashburtonchurch.com/Media/Watch/14">Watch</a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slides" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slides" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-fluid">
    <div class="row bg-light my-3">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">
                Welcome to the Ashburton Drive Church of Christ. We are a group of Christians that meets in Montgomery, AL and strives to follow God's plan for His church.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a class="btn btn-primary" asp-controller="Home" asp-action="About">Learn More</a>
        </div>
    </div>
</div>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScQT8pAYNVO5vzPS_713Zli4ET8f3EANzWUBsgPyJzKOFxdyw/viewform?embedded=true" class="d-block w-100" height="630" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading…</iframe>

<script>
    if (sessionStorage.getItem("shown") === null) {
        $(window).on('load', function () {
            $('#meetingAnnouncement').modal('show');
            sessionStorage.setItem("shown", "true");
        });
    }
</script>
